[gcode_macro SET_COMPENSATED_BED_TEMPERATURE]
description: Remaps parmeter T to a temperature that reflects the offset of the buildplate surface from the bed_heater
gcode:
   {% set R_TEMP = params.S|default(0)|float %}
   {% set SAFETY = 2|float %}
   {% if "S" not in params|upper %}
      {% if "BED" in params %}
        {% set R_TEMP = params.BED|float %}
        { action_respond_info("Using alternate param BED=" + params.BED|string)}
      {% elif "S" in params %}
        {% set R_TEMP = params.S|float %}
        { action_respond_info("Using alternate param S=" + params.S|string)}
      {% elif "TARGET" in params %}
        {% set R_TEMP = params.TARGET|float %}
        { action_respond_info("Using alternate param TARGET=" + params.TARGET|string)}
      {% endif %}
   {% endif %}
   {% if  R_TEMP < 50 %}
     M118 No remap below 50C
      {% set M_TEMP = R_TEMP %}
   {% elif R_TEMP < 60 %}
      {% set M_TEMP = R_TEMP + 5 %}
   {% elif R_TEMP < 70 %}
      {% set M_TEMP = R_TEMP + 6 %}
   {% elif R_TEMP < 80 %}
      {% set M_TEMP = R_TEMP + 7 %}
   {% elif R_TEMP < 90 %}
      {% set M_TEMP = R_TEMP + 8 %}
   {% elif R_TEMP < 100 %}
      {% set M_TEMP = R_TEMP + 9 %}
   {% elif R_TEMP < 110 %}
      {% set M_TEMP = R_TEMP + 10 %}
   {% elif R_TEMP < 120 %}
      {% set M_TEMP = R_TEMP + 11 %}
   {% else %}
     M118 Temperature exceeds remap limits
     {% set M_TEMP = R_TEMP %}
   {% endif %}
  

    {% set MAX_TEMP = (printer.configfile.settings.heater_bed.max_temp|float - SAFETY) %}
   
    {% if M_TEMP > MAX_TEMP %}
      {% set M_TEMP = MAX_TEMP %}
       M118 Maximum temperature = {MAX_TEMP + SAFETY} - {SAFETY}
    {% endif %}
    M118 Bed Temperature {R_TEMP} -> {M_TEMP}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={M_TEMP}
    {% if "WAIT" in params %}
      M118 Waiting for bed to reach {M_TEMP}
      TEMPERATURE_WAIT SENSOR=heater_bed  MAXIMUM={M_TEMP+1} MINIMUM={M_TEMP}
      M118 Ready
    {% endif %}
    

#Set bed temperature: M140 [S<temperature>]
#Set bed temperature and wait: M190 S<temperature>
# Orca uses M140 for bed temperature adjustments so this is fine
[gcode_macro M140]
description: Remapeed M140 uses SET_COMPENSATED_BED_TEMPERATURE
rename_existing:            M140.1
gcode:
  {% set S = params.S|default(0)|float %}
  SET_COMPENSATED_BED_TEMPERATURE S={S}

[gcode_macro M190]
description: Remapeed M140 uses SET_COMPENSATED_BED_TEMPERATURE
rename_existing:            M190.1
gcode:
  {% set S = params.S|default(0)|float %}
  SET_COMPENSATED_BED_TEMPERATURE S={S} WAIT=1