# Use with M84.cfg to keep Z steppers on. Useful for gantries that move and
# need Z_TILT_ADJUST, my MECHANICAL_GANTRY_LEVEL, particularly after doing a 
# manual align to the gantry whilst levelling the bed to the gantry.

# Idle timeout. An idle timeout is automatically enabled - add an
# explicit idle_timeout config section to change the default settings.

# Adds a check to see if the printer should shutdown on idle 

[idle_timeout]
timeout: 3600
gcode:
    #{action_respond_info("Timeout, X Y E disabled")}
    
    _NOTIFY TEXT="Timeout, Extruder Heater Disabled"
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {% if printer.pause_resume.is_paused %}
        _NOTIFY TEXT="Bypassed Timeout"
    {% else %}
        M118 Timeout Reached
        M117 Timeout Reached
        TURN_OFF_HEATERS
        ; M84
    {% endif %}

  
    #_SHUTDOWN_IF_SET
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.



