# Use with M84.cfg to keep Z steppers on. Useful for gantries that move and
# need Z_TILT_ADJUST, my MECHANICAL_GANTRY_LEVEL, particularly after doing a 
# manual align to the gantry whilst levelling the bed to the gantry.

# Idle timeout. An idle timeout is automatically enabled - add an
# explicit idle_timeout config section to change the default settings.

# Adds a check to see if the printer should shutdown on idle 

[idle_timeout]
gcode:
    #{action_respond_info("Timeout, X Y E disabled")}
    
    {action_respond_info("Timeout, Extruder Heater Disabled")}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0

    #TODO check if pause state is active, don't timeout the motors on a pause.
    #TODO check if pause state acive and if not turn the bed off unless we set a preheat
    {% if printer.save_variables.variables.idle_gantry_power == 0 %}
       {action_respond_info("Timeout, Extruder Heater Disabled")}
      #M84
    {% elif  printer.save_variables.variables.idle_gantry_power == 1 %}
      #TODO i mean this works, but...
      #M84 X Y E # only works if extended M84 enabled
    {% endif %}
    #_SHUTDOWN_IF_SET
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.



