# Use with M84.cfg to keep Z steppers on. Useful for gantries that move and
# need Z_TILT_ADJUST, my MECHANICAL_GANTRY_LEVEL, particularly after doing a 
# manual align to the gantry whilst levelling the bed to the gantry.

# Idle timeout. An idle timeout is automatically enabled - add an
# explicit idle_timeout config section to change the default settings.
[idle_timeout]
gcode:
    {action_respond_info("Timeout, Heater Disabled")}
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    set_led_effect EFFECT=off REPLACE=1
    STOP_LED_EFFECTS 


   {% if printer.pause_resume.is_paused %}
        _NOTIFY TEXT="Bypassed Timeout"
    {% else %}
        _NOTIFY TEXT="Timeout, Extruder Heater Disabled"
        TURN_OFF_HEATERS
        SET_LOGO_LEDS_OFF
        SET_NOZZLE_LEDS_OFF
        ; M84
    {% endif %}


    
timeout: 600
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.
