[gcode_macro MOTORS_IDLE]
gcode:
    {% set x_current = printer.configfile.settings["tmc2209 stepper_x"].run_current %}
    {% set y_current = printer.configfile.settings["tmc2209 stepper_y"].run_current %}
    {% set z_current = printer.configfile.settings["tmc2209 stepper_z"].run_current %}
    {% set e_current = printer.configfile.settings["tmc2209 extruder"].run_current %}

    SET_TMC_CURRENT STEPPER=stepper_x HOLDCURRENT={x_current/2}
    SET_TMC_CURRENT STEPPER=stepper_y HOLDCURRENT={y_current/2}
    SET_TMC_CURRENT STEPPER=stepper_z HOLDCURRENT={z_current/2}
    SET_TMC_CURRENT STEPPER=extruder HOLDCURRENT={e_current/2}

    #SET_TMC_FIELD STEPPER=stepper_x FIELD=stealthchop_threshold VALUE=1
    #SET_TMC_FIELD STEPPER=stepper_y FIELD=stealthchop_threshold VALUE=1
    #SET_TMC_FIELD STEPPER=stepper_z FIELD=stealthchop_threshold VALUE=1
  

[gcode_macro MOTORS_ACTIVE]
gcode:
    {% set x_current = printer.configfile.settings["tmc2209 stepper_x"].run_current %}
    {% set y_current = printer.configfile.settings["tmc2209 stepper_y"].run_current %}
    {% set z_current = printer.configfile.settings["tmc2209 stepper_z"].run_current %}
    {% set e_current = printer.configfile.settings["tmc2209 extruder"].run_current %}

    SET_TMC_CURRENT STEPPER=stepper_x HOLDCURRENT={x_current}
    SET_TMC_CURRENT STEPPER=stepper_y HOLDCURRENT={y_current}
    SET_TMC_CURRENT STEPPER=stepper_z HOLDCURRENT={z_current}
    SET_TMC_CURRENT STEPPER=extruder HOLDCURRENT={e_current}

    #SET_TMC_FIELD STEPPER=stepper_x FIELD=stealthchop_threshold VALUE=0
    #SET_TMC_FIELD STEPPER=stepper_y FIELD=stealthchop_threshold VALUE=0
    #SET_TMC_FIELD STEPPER=stepper_z FIELD=stealthchop_threshold VALUE=0