### Remove Octroprint
[menu __main __octoprint]
type: list
name: OctoPrint
enable: false
### Remove Octroprint END


### Remove Old Filament comamnds
[menu __main __filament __loadf]
enable: false
type: command
name: Load Fil. fast
gcode:

[menu __main __filament __loads]
enable: false
type: command
name: Load Fil. fast
gcode:

[menu __main __filament __unloadf]
enable: false
type: command
name: Load Fil. fast
gcode:

[menu __main __filament __unloads]
enable: false
type: command
name: Load Fil. fast
gcode:

[menu __main __filament __feed]
enable: false
type: input
name: Feed: {'%.1f' % menu.input}
input: 5
input_step: 0.1
### Remove Old Filament comamnds END


[menu __main __setup __calib]
type: list
name: Calibration


# remove delta
[menu __main __setup __calib __delta_calib_auto]
type: command
enable: false
name: Delta cal. auto
gcode:
    G28
    DELTA_CALIBRATE

[menu __main __setup __calib __delta_calib_man]
type: list
enable: false
name: Delta cal. man

[menu __main __setup __calib __bedprobe]
type: command
enable: false
#enable: {not printer.idle_timeout.state == "Printing"}
name: Bed probe
gcode: PROBE

[menu __main __setup __calib __delta_calib_man __start]
type: command
name: Start probing
enable: false
gcode:
    G28
    DELTA_CALIBRATE METHOD=manual

[menu __main __setup __calib __delta_calib_man __move_z]
type: input
name: Move Z: {'%03.2f' % menu.input}
input: {printer.gcode_move.gcode_position.z}
input_step: 1
realtime: True
enable: false

gcode:
    {%- if menu.event == 'change' -%}
        G1 Z{'%.2f' % menu.input}
    {%- elif menu.event == 'long_click' -%}
        G1 Z{'%.2f' % menu.input}
        SAVE_GCODE_STATE NAME=__move__axis
        G91
        G1 Z2
        G1 Z-2
        RESTORE_GCODE_STATE NAME=__move__axis
    {%- endif -%}

[menu __main __setup __calib __delta_calib_man __test_z]
type: input
name: Test Z: {['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
input: 6
input_min: 0
input_max: 11
input_step: 1
gcode:
    {%- if menu.event == 'long_click' -%}
        TESTZ Z={['++','+','+.01','+.05','+.1','+.5','-.5','-.1','-.05','-.01','-','--'][menu.input|int]}
    {%- endif -%}

[menu __main __setup __calib __delta_calib_man __accept]
type: command
name: Accept
enable: false
gcode: ACCEPT

[menu __main __setup __calib __delta_calib_man __abort]
type: command
name: Abort
enable: false
gcode: ABORT
# remove delta END

[menu __main __setup __calib __probe]
type: list
name: Set Z Offset

[menu __main __setup __calib __probe __beginzpc]
type: command
enable: true 
name: Start Cal
gcode:
        G28
        PROBE_CALIBRATE

[menu __main __setup __calib __probe __accept]
type: command
name: Accept
gcode:
        ACCEPT

[menu __main __setup __calib __probe __abort]
type: command
name: Abort
gcode:
        ABORT
#action: back

[menu __main __setup __calib __probe __accuracy]
type: command
name: Test accuracy
gcode:
    G28
    PROBE_ACCURACY

[menu __main __setup __calib __save_config]
type: command
name: Save config
gcode:
        SAVE_CONFIG


[menu __main __setup __calib __home_all_axes]
type: command
name: Home XYZ
gcode:
        G28


#[menu __main __setup __calib __probe __zpos]
#type: command
#width: 16
#name: {"Z = 0:.3f" % toolhead.zpos }
#gcode:
#        BEEP
#cursor: \x20
#parameter: toolhead.zpos


[menu __main __setup __calib __probe __testz_minus]
#cursor: \x20
type: command
#width: 7
name: "   -"
gcode:
        TESTZ Z=-

[menu __main __setup __calib __probe __testz_plus]
#cursor: \x20
type: command
name: "   +"
#width: 7
gcode:
        TESTZ Z=+

[menu __main __setup __calib __probe __testz_minus_minus]
#cursor: \x20
type: command
name: "   --"
#width: 7
gcode:
        TESTZ Z=--

[menu __main __setup __calib __probe __testz_plus_plus]
#cursor: \x20
type: command
name: "   ++"
#width: 7
gcode:
        TESTZ Z=++

[menu __main __setup __calib __probe __calibrate_testz_minus_1]
#cursor: \x20
type: command
name: "  -1.0"
#width: 7
gcode:
        TESTZ Z=-1

[menu __main __setup __calib __probe __calibrate_testz_plus_1]
#cursor: \x20
type: command
name: "  +1.0"
#width: 7
gcode:
        TESTZ Z=+1

[menu __main __setup __calib __probe __calibrate_testz_minus_point_1]
#cursor: \x20
type: command
name: "  -0.1"
#width: 7
gcode:
        TESTZ Z=-0.1

[menu __main __setup __calib __probe __calibrate_testz_plus_point_1]
#cursor: \x20
type: command
name: "  +0.1"
#width: 7
gcode:
        TESTZ Z=+0.1


[menu __main __control __park]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Park
gcode: PARK 

[menu __main __control __present]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Present
gcode: PRESENT