; Just a menu entry for the lights
[menu __main __lights]
type: list
name: Lights
#enable: {printer.idle_timeout.state != "Printing"}

[menu __main __lights __off]
type: command
name: Off
#enable: {printer.idle_timeout.state != "Printing"}
gcode:
    set_led_effect EFFECT=off REPLACE=1
    STOP_LED_EFFECTS
    SET_LOGO_LEDS_OFF
    SET_NOZZLE_LEDS_OFF


[menu __main __lights __nozzle_on]
type: command
name: Nozzle Lights On
#enable: {printer.idle_timeout.state != "Printing"}
gcode:
    SET_NOZZLE_LEDS_ON

