###############################################################################
# 
#  Mechanical Gantry Calibration
#  
#  This is stupid. DO NOT do this.
#  Unless you think ramming the gantry against the frame at full motor 
#  current is a really good idea. Then you should abolutley do this
#  knowing this software is provided with all the warranty of 
#       "
#           I told you not to do it
#                                       "
#            HERE BE DRAGONS!
#            YOU WERE WARNED!
# 


[gcode_macro MGC_BOTH]
gcode:
    
    FORCE_MOVE STEPPER=stepper_z DISTANCE=0.4 VELOCITY=6
    FORCE_MOVE STEPPER=stepper_z1 DISTANCE=0.4 VELOCITY=6
    
[gcode_macro MGC_LEFT]
gcode:
    
    FORCE_MOVE STEPPER=stepper_z DISTANCE=0.4 VELOCITY=6
    
[gcode_macro MGC_RIGHT]
gcode:
    FORCE_MOVE STEPPER=stepper_z1 DISTANCE=0.4 VELOCITY=6
    


[force_move]
enable_force_move: true ; enable FORCE_MOVE and SET_KINEMATIC_POSITION