## Warning, some of the helper macros in start print have been masked with a leading "_"

[gcode_macro SETUP_BED]
gcode:
    {% set TOL_CORNERS = params.TOL_CORNERS|default(10)|float %}
    {% set my_tg = params.TOL_GANTRY|default(0.025)|float %}
    status_homing
    #G28 ; Don't home, do it elsewhere
    {% if printer.z_tilt %}
        _NOTIFY TEXT="Tilting Gantry {my_tg}"
        Z_TILT_ADJUST RETRY_TOLERANCE={my_tg}
    {% endif %}

    {% if printer.screws_tilt_adjust %}
        _NOTIFY TEXT="Checking corners {TOL_CORNERS}"
        SCREWS_TILT_CALCULATE MAX_DEVIATION={TOL_CORNERS}
    {% endif %}
    
[gcode_macro INTRO_LINE]
gcode:
          { action_respond_info("INTRO_LINE is depricated, call _SIMPLE_LINE_PURGE from START_PRINT")}



# Requires a 200mm bed
[gcode_macro _INTRO_LINE]
gcode:
   { action_respond_info("SIMPLE_LINE_PURGE is depricated, call _INTRO_LINE from START_PRINT")}

[gcode_macro START_PRINT]
description: wrapper for PRINT_START
gcode:
    PRINT_START {rawparams}

[gcode_macro PRINT_START]
variable_version: 0.4
description: Does everythin to go from a cold printer to a successful print except a purge line. Set BED_TEMP|BED, EXTRUDER_TEMP|EXTRUDER, MATERIAL in the slicer
gcode:
    _SOUND_YES
    {% set svv = printer.save_variables.variables %}
    {% set BED_TEMP = params.BED_TEMP|default(svv.setup_default_bed_temp)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(svv.setup_default_nozzle_temp)|float %}
    {% set FILAMENT_TYPE = params.MATERIAL|default("UNKNOWN")|string %}
    
    ## Check for alternate params
    {% if "BED" in params %}
        {% set BED_TEMP = params.BED|float %}
        { action_respond_info("Using alternate param BED=" + params.BED|string)}
    {% endif %}
    {% if "EXTRUDER" in params %}
        {% set EXTRUDER_TEMP = params.EXTRUDER|float %}
        { action_respond_info("Using alternate param EXTRUDER=" + params.EXTRUDER|string)}
    {% endif %}
     {% if "HOTEND" in params %}
        {% set EXTRUDER_TEMP = params.HOTEND|float %}
        { action_respond_info("Using alternate param HOTEND=" + params.HOTEND|string)}
    {% endif %}
    
    {% if svv.setup_version|float < version|float %}
        { action_raise_error("Setup data is older than macro version. You should check the values in INIT_SETUP and run it to update") }
    {% endif %}
    {% if svv.setup_use_bed_offset == 1  %}
        BED_DETAILS # tell us about the bed
    #{else}
    {% endif %}

    {% if FILAMENT_TYPE in ["PLA","TPU","PETG"] %}
        SET_ENCLOSURE ENABLE=0
        { action_respond_info("Open the door for " + FILAMENT_TYPE|string) }
    {% else %}
        SET_ENCLOSURE ENABLE=1
        SET_ENCLOSURE preheat=1
        { action_respond_info("Close the door for " + FILAMENT_TYPE|string) }
    {% endif %}

    {% set IDLE_TEMP = params.IDLE_TEMP|default(svv.setup_idle_temp)|float %}
    {% if FILAMENT_TYPE in ["PLA","TPU","PETG"] %}
        {% set IDLE_TEMP = svv.setup_idle_temp|float %}
        { action_respond_info("Idle temperatue set to " + IDLE_TEMP|string) }
    {% elif FILAMENT_TYPE in ["ABS", "ASA"] %}
        {% set IDLE_TEMP = 180|float %}
        { action_respond_info("Idle temperatue set to " + IDLE_TEMP|string) }
    {% else %}
        { action_respond_info("Filament unknown, using default idle temp " + IDLE_TEMP|string) }
    {% endif %}

    
    
    G92 E0 ; reset extruder
    G90 ; absolute
    M82 ; extruder absolute
    G92 E0 ; reset extruder
    
    M107 S0; turn off fan
    M104 S0; Turn the nozzle off, no drooling n the bed.
    G28
    status_heating
    PARK ZLIFT=50 
    {% if FILAMENT_TYPE in ["ABS", "ASA"] %}
        G1  X110 Y120
         _NOTIFY TEXT="Heating to 100C for heatsoak"
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=110
        M106 S255 #FANS!
        M190 S100 ; wait for bed temp
        M106 S0
        SET_HEATER_TEMPERATURE HEATER=extruder TARGET=50
    {% endif %}



    _NOTIFY TEXT="Heating Bed to {BED_TEMP}"
    # Here we wait for stableise
    M190 S{BED_TEMP} ; wait for bed temp
    _NOTIFY TEXT="Preheat Extruder"
    M109 S{IDLE_TEMP} ; preheat nozzle as a stableise timer

    SETUP_BED TOL_CORNERS=0.4 TOL_GANTRY=0.02
    status_leveling
    BED_MESH_CALIBRATE ADAPTIVE=1
    #_LOAD_MESH_TEMP BED_TEMP={BED_TEMP}
    PARK ZLIFT=50
    status_heating
    M104 S{EXTRUDER_TEMP}
    #SMART_PARK
    #Set our baseline offset for nozzle height, this is based PROBE_CALIBRATE result
    
    #And apply changes for a different bed
    _BED_START_PRINT_OFFSETS
    _NOTIFY TEXT="Heating Extruder to {EXTRUDER_TEMP}"
    M109 S{EXTRUDER_TEMP} ; wait for stable extruder temp
    _NOTIFY TEXT="Starting Print"
    #status_homing
    _SOUND_YES
    # G28 Z #Try homing at end to fix gcode  - not needed if we wait for bed to settle
    SET_ENCLOSURE on=1
    status_printing
     _SIMPLE_LINE_PURGE_X

    
[gcode_macro PRINT_END]
description: wrapper for END_PRINT
gcode:
    END_PRINT {rawparams}

[gcode_macro END_PRINT]
description: Clean up after a print
gcode:
    {% set svv = printer.save_variables.variables %}
    G91
    G1 E-6 F300 ;big retract/wipe
    G1 X-2 Y-2 F3000 ;big retract/wipe
    G90
    PRESENT
    STATUS_OFF
    SET_NOZZLE_LEDS_OFF
    SET_LOGO_LEDS_OFF
    M140 S0 ; turn off heatbed
    M104 S0 ; turn off hotend
    M107 S0; turn off fan
    SET_ENCLOSURE cooldown=1

       
    #MOTORS_IDLE
    M84   ; disable motors

    _BED_END_PRINT_OFFSETS
    _NOTIFY TEXT=" Print Done"

    

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    M107 S0 ; turn off fans
    PRESENT
    #ENCLOSURE_PURGE
    BASE_CANCEL_PRINT
    status_off
    SET_ENCLOSURE cooldown=1



[gcode_macro MY_PROBE_CALIBRATE]
description: Homes, removes bed mesh, does probe_calibrate in a defined position, remember to PARK affter ACCEPT and before SAVE_CONFIG
gcode:
    SET_GCODE_OFFSET Z=0
    G28
    {% if printer.z_tilt %}
        Z_TILT_ADJUST
    {% endif %}

    # Klicky handles this I think?
    #{% if printer["gcode_macro PROBE_OUT"] %}
    #    PROBE_OUT
    #{% endif %}
    G1 Z30
    G1 X160 Y135
    SET_NOZZLE_LEDS_ON
    PROBE_CALIBRATE
    SET_NOZZLE_LEDS_ON


 # tronxy position y-10 x110
[gcode_macro _INTRO_FATLINE_X]
gcode:
        
    {% set travel_speed = printer.toolhead.max_velocity * 0.7 * 60 %}
    {% set z_travel_speed = printer.configfile.settings.printer.max_z_velocity * 60 %}
    {% set start_x = 110 %}
    {% set start_y = -8 %}
    {% set x_length = 100 %}
    {% set vol_flow = 10 %}
    {% set cross_section = 0.5 %}
    {% set z_height = 0.2 %}
    {% set z_fiddle = 0.2 %} # This is aprox Z height of purge zone if it needs to be above Z=0
    {% set end_x = start_x + x_length %}
    {% set volume = x_length * cross_section %}
    {% set e_length = volume / 2.4 %} ; each mm of fillament is (1.75/2)^2 * p ~= 2.4 (mm^3)
    {% set time = volume / vol_flow %}
    {% set speed = x_length / time %}
    {% set feed = speed * 60 %}
    {% set width = cross_section / (z_height + z_fiddle) %}

    SAVE_GCODE_STATE NAME=purge
    _NOTIFY TEXT="ZLIFT Intro LIne"
    _NOTIFY TEXT="Volume: {volume *2 } mm3"
    _NOTIFY TEXT="Filament length: {e_length * 2}"
    _NOTIFY TEXT="Feedrate: {speed} mm/s F{feed} "
    
   G90 #absloute positioning
   G92 E0
   G1 X{start_x} Y{start_y} F{travel_speed}
   G1 Z{z_height+z_fiddle}
   G91 #relative pos
   M83 # relative extrusion
   G1 X{x_length} E{e_length} F{feed}
   G1 Y{width} F{travel_speed}
   G1 X-{x_length} E{e_length} F{feed}
   G1 Y{width} F{travel_speed}
   G1 Z1 #lift Z a bit
   G92 E0
    
    RESTORE_GCODE_STATE NAME=purge
    _NOTIFY TEXT="Intro complete"
    