[gcode_macro _SIMPLE_LINE_PURGE_X]
gcode:
    # Adjust these to suit
    {% set start_x = 0 %} # Lefmost position of purge line
    {% set start_y = -2 %} # Frontmost position of purge line
    {% set x_length = 100 %} # length of line
    {% set vol_flow = 10 %} # vol flow rate of purge in mm3/s, 10 is good for a v6, use more if you have a fast hotend.
    {% set cross_section = 0.5 %}
    {% set z_height = 0.4 %}
    {% set retraction = 0.4 %} #TODO use firmware retraction and use this as a backup
    {% set z_fiddle = 0 %} # This is aprox Z height of purge zone if the bed is warped, prefer a taller purge
    {% set end_x = start_x + x_length %}
    {% set volume = x_length * cross_section %} # this is the vol for one line
    {% set e_length = volume / 2.4 %} ; each mm of fillament is (1.75/2)^2 * p ~= 2.4 (mm^3)
    {% set time = volume / vol_flow %}
    {% set speed = x_length / time %}
    {% set feed = speed * 60 %}
    {% set width = cross_section / (z_height + z_fiddle) %}

    {% set travel_speed = printer.toolhead.max_velocity * 0.7 * 60 %}
    {% set z_travel_speed = printer.configfile.settings.printer.max_z_velocity * 60 %}
    {% set min_extrude_t = printer.configfile.settings.extruder.min_extrude_temp %}

    SAVE_GCODE_STATE NAME=purge
    _NOTIFY TEXT="ZLIFT Intro LIne"
    _NOTIFY TEXT="Volume: {volume *2 } mm3" # We do 2 lines
    _NOTIFY TEXT="Filament length: {e_length * 2}"
    _NOTIFY TEXT="Feedrate: {speed} mm/s F{feed} "

    {% if target_t < min_extrude_t %}
        _NOTIFY TEXT="Extruder cold, will not print"
    {% else %}
        G90 #absloute positioning
        G92 E0
        G1 X{start_x} Y{start_y} F{travel_speed}
        G1 Z{z_height+z_fiddle}
        G91 #relative pos
        M83 # relative extrusion
        G1 X{x_length} E{e_length} F{feed}
        G1 Y{width} F{travel_speed}
        G1 X-{x_length} E{e_length} F{feed}
        G1 Y{width} F{travel_speed}
        G1 E-{retraction}
        G1 Z1 #lift Z a bit
        G92 E0
        RESTORE_GCODE_STATE NAME=purge
        _NOTIFY TEXT="Intro complete"
    {% endif %}